@charset "UTF-8";
img#banner {
    width: 100%;
}

.tituloprincipal {
    padding-left: 20px;
}

.principal {
    background-color: #CCCCCC;
    padding: 30px;
}

h3 {
    text-align: center;
}

h1 {
    text-align: left;
}

p {
    text-align: center;
}

p#missao {
    font-size: 20px;
}

em strong {
    color: red;
}

.itens {
    font-style: italic;
}

.beneficio {
    background-color: white;
    padding: 10px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios {
    width: 50%;
}